:root {
  --g1:#BFCDE0;
  --g2:#3B3355;
  --g3:#5D5D81;
  --g4:#000505;
}

/* https://coolors.co/000505-3b3355-5d5d81-bfcde0 */

@font-face {
  font-family: "FiraCode";
  src: url('FiraCode.ttf');
}

* {
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'FiraCode', monospace;
}

body {
  background-color: #000505;
  padding: 1rem;
}

html {
  scroll-behavior: smooth;
}

.b1 {
  display: flex;
  flex-direction: column;
  max-width: 36rem;
  margin: 0 auto;
  gap: 5rem;
}

.b2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.b3 {
  display: flex;
  flex-direction: column;
}

.r1 {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  color: var(--g1);
}

a, svg {
  text-decoration: none;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  color: var(--g1);
  fill: var(--g1);
}

a:hover, svg:hover {
  color: var(--g2);
  fill: var(--g2);
}

.desc {
  text-align: center;
}

.lg {
  font-size: 1.5rem;
}

.cut1 {
  border-radius: 0.375rem;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0.5rem;
  background-color: var(--g1);
  color: black;
  width: 6rem;
  text-align: center;
}

.cut2 {
  transform: translate(-0.5rem, 0) skewX(14deg);
  width: 1rem/* 16px */;
  border-top-right-radius: 0.375rem/* 6px */;
  background-color: var(--g1);

}

.r2 {
  display: flex;
}

.b4 {
  display: flex;
  flex-direction: column;
}

.b5 {
  border: 1px var(--g1) solid;
  padding: 1.5rem;
  border-radius: 0.375rem;
  border-top-left-radius: 0px;
}


.b6 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.r3 {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
svg {
  fill: var(--g1);
}

svg:hover {
  fill: var(--g2);
}

